
* { color: #ff7043; text-decoration: none;}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
}

.parallax {
    height: 700px;

    background: url('../img/headerBG.jpg') no-repeat fixed bottom;
    background-size: cover;

    border-bottom-right-radius: 80% 8%;
    border-bottom-left-radius: 80% 8%;
}

.navbar-scroll {
    background-color: rgba(63, 81, 181, 0.5);
    transition: background-color 0.5s;
}

.heroContent {
    margin-top: 22%;
}

.heroContent h1 {
    font-size: 2.9em;
    font-weight: normal;
    color: #eff1f3;
    margin-bottom: 3%;
}

.heroContent h5 {
    color: #b1b9c5;
    margin-bottom: 3%;
}

@media(max-width: 768px){
    .heroContent {
        margin-top: 35%;
    }

    .heroContent h1 {
        font-size: 3.4em;
        margin-bottom: 15%;
    }

    .heroContent h5 {
        margin-bottom: 15%;
    }
}

.servicesContainer {
    margin-top: -60px;
}

.servicesCard {
    position: relative;
    padding-top: 2%;
    overflow: hidden;
    color: #111;
    transition: transform .4s;
    -webkit-box-shadow: 0 15px 30px 0 rgba(44,46,49,0.3);
    -moz-box-shadow: 0 15px 30px 0 rgba(44,46,49,0.3);
    box-shadow: 0 15px 30px 0 rgba(44,46,49,0.3);
}

.servicesCard img {
    margin-top: -15%;
    padding: 3%;
    z-index: 0;
}

.servicesCard:hover {
    transform: scale(1.1);
}

.feature-text {
    z-index: 1;
    font-size: 1.3rem;
}

.headerSubtitle {
    display: block;
    margin: 0 auto 3rem;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: white;
}

@media(max-width: 768px){
    .servicesCard{
        margin-bottom: 10%;
        -webkit-box-shadow: 0px 10px 30px 0px rgba(44,46,49,0.3);
        -moz-box-shadow: 0px 10px 30px 0px rgba(44,46,49,0.3);
        box-shadow: 0px 10px 30px 0px rgba(44,46,49,0.3);
    }

    .servicesCard:hover {
        transform: none;
    }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

    .servicesCard {
        margin-bottom: 5%;
        -webkit-box-shadow: 0px 10px 30px 0px rgba(44,46,49,0.3);
        -moz-box-shadow: 0px 10px 30px 0px rgba(44,46,49,0.3);
        box-shadow: 0px 10px 30px 0px rgba(44,46,49,0.3);
    }

    .servicesCard img {
        margin-top: -9%;
        padding: 2%;
        z-index: 0;
        width: 35%;
        height: auto;
    }

    .heroContent {
        margin-top: 27%;
    }

    .heroContent h1 {
        font-size: 3.8em;
        color: #eff1f3;
        margin-bottom: 6.5%;
    }

    .heroContent h5 {
        color: #b1b9c5;
        margin-bottom: 7.5%;
    }
}

@media only screen
and (min-device-width : 360px)
and (max-device-width : 640px)
and (orientation : portrait) {

    .heroContent {
        margin-top: 42%;
    }

    .heroContent h1 {
        font-size: 2.8em;
        color: #eff1f3;
        margin-bottom: 14%;
    }

    .heroContent h5 {
        font-size: 1.2rem;
        color: #b1b9c5;
        margin-bottom: 14%;
    }
}